@using Fulbo12.Core.Futbol;
@model Equipo;
@{
    ViewData["Title"] = "Equipo - Detalle";
}

<h2 class="text-center">@string.Concat(Model.Nombre,'(',Model.Liga.Nombre,')')</h2>
<br><br>
    @if (Model.Futbolistas.Count() != 0)
{
    @* <h2>Futbolistas</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var futbolista in Model.Futbolistas)
                {
                    <tr>
                        <th scope="row">@futbolista.Nombre</th>
                    </tr>
                }
            </tbody>
        </table> *@
}
else
{
    <p>No hay futbolistas cargados para este equipo.</p>
}