@{
    ViewData["Title"] = "Persona - Buscar";
}
<div class="text-center">
    <h1>Buscar</h1>
</div>
<br>
<div class="text-center">
    <input type="text" id="inputBuscarPersonaJuego">
    <button asp-action="Buscar" asp-route-nombre="nombre" asp-route-apellido="apellido">
        
    </button>
</div>