@using Fulbo12.Core;
@model IEnumerable<PersonaJuego>;
@{
    ViewData["Title"] = "Persona - Buscar";
}
<div class="text-center">
    <h1>Buscar</h1>
</div>
<div class="text-center">

    <form asp-controller="Persona" asp-action="Buscar" method="get">
        <input type="text" name="Busqueda" />
        <input type="submit" value="Buscar" />
    </form>
</div>
<br><br>
<div class="text-center">
    @if (Model.Count() == 0 && Context.Request.RouteValues.ContainsKey("Busqueda"))
    {
        <p>No se encontraron personas.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="">
                @foreach (var persona in Model)
                {
                    <tr>
                        <th scope="row">@persona.Nombre</th>
                        <td>@persona.Apellido</td>
                        <td><a asp-action="Detalle" asp-route-Id="@persona.Id">Detalle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>