@using Fulbo12.Core;
@model PersonaJuego;
@{
    ViewData["Title"] = "Persona - Detalle";
}

<a asp-controller="Futbolista" asp-action="Alta" asp-route-Id="@Model.Id">
    <button>Hacer Futbolista</button>
</a>
<h2 class="text-center">@Model.Id</h2>
<h2 class="text-center">@Model.Nombre @Model.Apellido</h2>
