@using Fulbo12.Core;
@model PersonaJuego;
@{
    ViewData["Title"] = "Persona - Detalle";
}

<h2 class="text-center">@Model.Id</h2>
<h2 class="text-center">@Model.Nombre</h2>
<h2 class="text-center">@Model.Apellido</h2>