@{
    ViewData["Title"] = "NoEncontrado";
}

<div class="position-absolute">
        <div class="text-center">
            <img class="p-2 img-fluid"
                src="https://us.123rf.com/450wm/koksikoks/koksikoks1610/koksikoks161000313/64319626-tachada-de-ruedas-un-bal%C3%B3n-de-f%C3%BAtbol-en-un-c%C3%ADrculo-de-f%C3%BAtbol-rojo-no-se-les-permite-jugar-campeonato.jpg">
            <h1>No Encontrado</h1>
        </div>
</div>