@using Fulbo12.Core.Mvc.ViewModels;
@model VMPersonaJuego;
@{
    var texto = Model.IdPersona == 0 ? "Alta persona" : "Modificar persona";
    ViewData["Title"] = texto;
}

<form asp-controller="Persona" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    <div><input type="hidden" asp-for="@Model.IdPersona" /></div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label asp-for="NombrePersona" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input asp-for="NombrePersona" class="form-control" />
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label asp-for="ApellidoPersona" class="col-form-label">Apellido</label>
        </div>
        <div class="col-auto">
            <input asp-for="ApellidoPersona" class="form-control" />
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label asp-for="PesoPersona" class="col-form-label">Peso</label>
        </div>
        <div class="col-auto">
            <input type="number" asp-for="PesoPersona" class="form-control" />
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label asp-for="AlturaPersona" class="col-form-label">Altura</label>
        </div>
        <div class="col-auto">
            <input type="number" asp-for="AlturaPersona" class="form-control" />
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label asp-for="NacimientoPersona" class="col-form-label">Nacimiento</label>
        </div>
        <div class="col-auto">
            <input type="date" asp-for="NacimientoPersona" class="form-control">
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <select asp-items="Model.Paises" asp-for="IdPais" class="form-select">
                @if (Model.IdPersona == 0)
                {
                    <option selected="selected" value="" disabled>Seleccione un pais</option>
                }
            </select>
        </div>
        <div class="col-auto">
            @if (Model.IdPersona == 0)
            {
                <button type="submit" class="btn btn-primary">@texto</button>
            }
            else
            {
                <button type="submit" class="btn btn-warning">@texto</button>
            }
        </div>
    </div>
</form>
