@using Fulbo12.Core.Futbol;
@model IEnumerable<Liga>;
@{
    ViewData["Title"] = "Detalle";
}

<h2 class="text-center">@Model.First().Pais.Nombre</h2>
<br><br>
<h1>Ligas</h1>
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                @* <th scope="col" colspan="2">Acciones</th> *@
            </tr>
        </thead>
        <tbody class="">
            @foreach (var liga in Model)
            {
                <tr>
                    <th scope="row">@liga.Nombre</th>
                    @* <td><a asp-action="Detalle" asp-route-Id="@pais.Id">Detalle <i class="bi bi-eyeglasses" style="color: black;"></i></a></td>
                    <td><a asp-action="Modificar" asp-route-Id="@pais.Id">Modificar <i class="bi bi-pencil-fill" style="color: black;"></i></a></td> *@
                </tr>
            }
        </tbody>
    </table>