@using Fulbo12.Core;
@model Pais;
@{
    var texto = Model is null ? "Alta Pais" : "Modificar Pais";
    ViewData["Title"] = texto;
}

<head>
    <script type="text/javascript" src="site.js"></script>
    <script type="text/css" src="site.css"></script>
</head>
<form asp-controller="Pais" asp-action="Upsert" method="post">
    <div asp-validation-summary="All"></div>
    <div><input type="hidden" asp-for="@Model.Id" /></div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Nombre" class="col-form-label">Nombre</label>
        </div>
        <div class="col-auto">
            <input asp-for="Nombre" class="form-control" />
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Abreviatura" class="col-form-label">Abreviatura</label>
        </div>
        <div class="col-auto">
            <input id="abreviatura" asp-for="Abreviatura" class="form-control" />
        </div>
        <div class="col-auto">
            <input class="btn btn-primary" type="button" onclick="mostrar('bandera', 'abreviatura')"
                value="Previsualizacion"</input>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <img class="oculto img-fluid" id="bandera" alt="bandera">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            @if (Model is null)
            {
                <button type="submit" class="btn btn-primary">@texto</button>
            }
            else
            {
                <button type="submit" class="btn btn-warning">@texto</button>
            }
        </div>
    </div>
    </div>
</form>
